@import "https://fonts.googleapis.com/css?family=Ubuntu:300,700";

* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
html {
	height: 100%;
	font-family: "Ubuntu", "Helvetica Neue", "Spoqa Han Sans", Arial, sans-serif;
    font-weight: regular;
}
body {
	height: 100%;
	min-height: 100%;
	background: #F4F5F7;
	color: #111F49;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: default;
    overflow-x: hidden;
    div,
    header,
    footer {
        box-sizing: border-box;
    }
	a {
		cursor: pointer;
		-webkit-transition: all 0.2s ease;
		-moz-transition: all 0.2s ease;
		-ms-transition: all 0.2s ease;
		-o-transition: all 0.2s ease;
		transition: all 0.2s ease;
		color: #624FFF ;
		font-weight: 400;
		text-decoration: none;
		&:after {
			cursor: pointer;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		.fa {
			color: #d4d7df;
            vertical-align: middle;
			-webkit-transition: all 0.2s ease;
			-moz-transition: all 0.2s ease;
			-ms-transition: all 0.2s ease;
			-o-transition: all 0.2s ease;
			transition: all 0.2s ease;
		}
		&:hover {
			.fa {
				color: #29ABFF;
			}
		}
        &:active,
        &:visited {
            color: #FFF;
        }
	}
	strong {
		font-weight: 600;
	}
	form {
		margin: 0;
	}
	li {
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}
    :hover {
        -webkit-transition: all 0.2s ease;
        -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
        -o-transition: all 0.2s ease;
        transition: all 0.2s ease;
    }
    .btn-float {
        z-index: 55;
        position: fixed;
        right: 32px;
        bottom: 32px;
        width: 64px;
        height: 64px;
        border: 0;
        background: #FFF;
        text-align: center;
        border-radius: 50%;
        box-shadow: 0 0 24px rgba(0,0,0,.2);
        .fa {
            color: #ACB1C0 !important;
            font-size: 32px;
            line-height: 64px;
        }
        &:hover {
            width: 72px;
            height: 72px;
            .fa {
                font-size: 36px;
                line-height: 72px;
            }
        }
    }
}

.clay-body {
	position: relative;
	text-align: center;
}

header {
	z-index: 999;
	position: fixed;
	left: 0;
	top: 0;
    padding: 24px 32px !important;
	width: 100%;
    font-size: 16px;
    line-height: 32px;
    overflow: hidden;
    .logo {
        float: left;
        h1 {
            display: inline-block;
            margin: 0 16px 0 0;
            font-size: 16px;
            line-height: 32px;
            img {
                display: inline-block;
                width: 64px;
                vertical-align: middle;
            }
        }
        a {
            display: inline-block;
            padding: 5px;
            color: rgba(255,255,255,.4);
            vertical-align: middle;
            strong {
                color: #FFF;
            }
            &:hover {
                color: #FFF;
            }
        }
    }
    nav {
        float: right;
        margin: 0;
        li {
            float: left;
            margin-left: 40px;
            a {
                position: relative;
                display: inline-block;
                border-bottom: 0 solid transparent;
                color: rgba(255, 255, 255, 0.6);
                font-weight: 500;
                vertical-align: middle;
                &:after {
                    content: "";
                    position: absolute;
                    left: 0;
                    bottom: -2px;
                    width: 0;
                    height: 3px;
                    background: rgba(255, 255, 255, 0.5);
                }
                &:hover {
                    color: #FFF;
                    text-decoration: none;
                    &:after {
                        width: 100%;
                    }
                }
            }
            &:last-child {
                a {
                    color: #FFF;
                    .fa {
                        display: inline-block;
                        color: rgba(255, 255, 255, 0.5);
                        font-size: 32px;
                        vertical-align: middle;
                    }
                    &:hover {
                        .fa {
                            color: #FFF;
                        }
                    }
                }
            }
        }
        li.is-current {
            a {
                color: #FFF;
                font-weight: 600;
                text-decoration: none;
                &:after {
                    width: 100%;
                }
            }
        }
    }
}

section {
    position: relative;
    display: table;
    width: 100vw;
    height: 100vh;
    color: #FFF;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
	*zoom: 1;
    h2 {
        margin-bottom: 4vw;
        font-size: 1.8vw;
        strong {
            padding-bottom: 4px;
            border-bottom: 4px solid rgba(255,255,255,.4);
            border-radius: 2px;
        }
    }
    .container {
		position: relative;
        display: table-cell;
		margin: 0 auto;
        padding: 0 5%;
        vertical-align: middle;
        overflow: hidden;
    }
	&:after {
		clear: both;
        content: "";
        z-index: 1;
        position: absolute;
		display: block;
        left: 0;
        bottom: 0;
        width: 0;
        height: 0;
        border: 0 solid transparent;
        border-width: 8vh 50vw;
	}
    .page-next {
        z-index: 5;
        position: absolute;
        left: 50%;
        bottom: 2vh;
        margin-left: -2vh;
        width: 4vh;
        height: 4vh;
        border: 2px solid rgba(255,255,255,.2);
        color: #FFF;
        font-size: 1.6vh;
        line-height: 4vh;
        text-align: center;
        border-radius: 2vh;
        cursor: pointer;
        &:hover {
            background: rgba(255,255,255,.1);
        }
    }
}

#hero {
    background: #111F49;
    #world {
        position: fixed;
        left: 0;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        opacity: .25;
    }
    .headline {
        display: flex;
        flex-direction: column;
        position: relative;
        color: #FFF;
        img {
            display: display-block;
            margin: 0 auto 4vw;
            width: 10vh;
            height: 10vh;
            border-radius: 2.5vh;
            box-shadow: 0 0 32px rgba(0,0,0,.25);
        }
        h2 {
            margin-bottom: 1.6vw;
            font-size: 2.4vw;
            letter-spacing: -0.5px;
        }
        p {
            font-size: 1.2vw;
            line-height: 1.8;
            a {
                color: rgba(255,255,255,.6);
                &:hover {
                    color: #FFF;
                }
            }
        }
        .btns {
            a {
                position: relative;
                display: inline-block;
                margin: 2vw .4vw 0;
                padding: 0 1.6vw;
                background: #FFF;
                color: #111F49;
                font-weight: 600;
                font-size: 1vw;
                line-height: 3.2vw;
                border-radius: 1.6vw;
                opacity: .6;
                .fab {
                    margin: 0 16px 1px 0;
                    color: #111F49;
                    font-size: 1vw;
                    opacity: .4;
                }
                &:first-child {
                    opacity: 1;
                    box-shadow: 0 1px 48px rgba(255, 255, 255, 0.5);
                }
                &:hover {
                    text-decoration: none;
                    color: #111F49;
                    box-shadow: 0 1px 48px rgba(255, 255, 255, 0.5);
                    opacity: 1;
                    .fab {
                        opacity: 1;
                    }
                }
            }
            &:hover {
                a {
                    opacity: .4;
                    box-shadow: none;
                    &:hover {
                        opacity: 1;
                        box-shadow: 0 1px 48px rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
    }
    .screens {
        display: inline-block;
        .screen {
            display: inline-block;
            position: relative;
            img {
                position: relative;
                display: inline-block;
                height: 50vh;
                border-radius: 40px;
                box-shadow: 0 4px 150px rgba(17,31,73,.6);
            }
        }
        &:after {
            content: "";
            z-index: 5;
            position: absolute;
            right: 1vh;
            bottom: 25vh;
            width: 128px;
            height: 128px;
            background: url("../../imgs/appicon_default.png") no-repeat;
            background-size: 128px;
            border-radius: 28px;
            box-shadow: 0 4px 40px rgba(17,31,73,.4);
        }
        span {
            z-index: 5;
            position: absolute;
            left: 50%;
            top: 130px;
            margin-left: -360px;
            padding: 0 2rem;
            background: #624FFF;
            color: #FFF;
            font-size: 1.8rem;
            line-height: 6rem;
            box-shadow: 0 4px 40px rgba(17,31,73,.4);
            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: -24px;
                width: 0;
                height: 0;
                border: 12px solid transparent;
                border-color: transparent #624FFF #624FFF transparent;
            }
            &:last-child {
                left: inherit;
                right: 50%;
                top: 440px;
                margin-left: 0;
                margin-right: -370px;
                background: #111F49;
                &:after {
                    right: inherit;
                    left: 0;
                    border-color: transparent transparent #111F49 #111F49;
                }
            }
        }
    }
    &:after {
        border-color: transparent #624FFF #624FFF transparent;
    }
}

#clayview {
    background: #624FFF;
    ul {
        position: relative;
        margin: 0 auto;
        max-width: 2080px;
        height: 60vh;
        li {
            float: left;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            margin: 0;
            padding: 5%;
            width: 50%;
            height: 30vh;
            background: #624FFF;
            color: #FFF;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            &:first-child {
                .screen {
                    display: block;
                }
            }
            &:nth-child(2n) {
                border-left: 2px dashed rgba(255,255,255,.15);
            }
            &:nth-child(3),
            &:nth-child(4) {
                border-top: 2px dashed rgba(255,255,255,.15);
            }
            h4 {
                font-size: 2vw;
                font-weight: 700;
                font-family: 'Ubuntu';
                opacity: .4;
            }
            p {
                font-size: 1vw;
                line-height: 1.8;
                width: 15vw;
                opacity: .4;
            }
            .screen {
                display: none;
                position: absolute;
                right: 50%;
                top: 6vh;
                margin-right: -11vw;
                background: rgba(0,0,0,.15);
                border-radius: 2vw;
                box-shadow: 0 0 40px rgba(0,0,0,.1);
                overflow: hidden;
                img {
                    display: block;
                    width: 22vw;
                }
            }
            &.current {
                h4, p {
                    opacity: 1;
                }
            }
        }
    }
    &:after {
        border-color: transparent #29ABFF #29ABFF transparent;
    }
}

#clayteam {
    background: #29ABFF;
    background-size: cover;
    .teams {
        margin: 5vh auto 0;
        max-width: 980px;
        justify-content: center;
        > div {
            position: relative;
            display: flex;
            flex-direction: column;
            float: left;
            margin-top: 40px;
            width: 25%;
            cursor: help;
            .thumb {
                display: block;
                margin: 0 auto;
                width: 130px;
                height: 130px;
                border: 5px solid transparent;
                background: transparent;
                border-radius: 65px;
                overflow: hidden;
                img {
                    display: block;
                    min-height: 100%;
                }
            }
            strong {
                margin: 20px 0 0;
                font-size: 16px;
                font-family: 'Ubuntu';
            }
            em {
                font-style: normal;
                font-size: 14px;
            }
            a {
                position: absolute;
                right: 50%;
                top: 110px;
                margin-right: -15px;
                width: 30px;
                height: 30px;
                background: #111F49;
                color: #FFF;
                line-height: 30px;
                span {
                    display: none;
                }
            }
            &:hover {
                .thumb {
                    width: 130px;
                    height: 130px;
                    border: 0;
                    border-radius: 65px;
                    box-shadow: 0 0 32px rgba(0,0,0,.3);
                    -webkit-transition: all 0.5s ease;
                    -moz-transition: all 0.5s ease;
                    -ms-transition: all 0.5s ease;
                    -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
                }
            }
        }
    }
    &:after {
        border-color: transparent #624FFF #624FFF transparent;
    }
}

#security {
    background: #624FFF;
    ul {
        margin: 0 auto;
        width: 64%;
        max-width: 980px;
        min-width: 640px;
        li {
            position: relative;
            box-sizing: border-box;
            margin: 24px 0;
            padding: 24px;
            background: #111F49;
            color: #ACB1C0;
            border-radius: 24px;
            box-shadow: 0 4px 150px rgba(17,31,73,.6);
            cursor: help;
            &:first-child {
                right: -60px;
            }
            &:last-child {
                left: -60px;
            }
            &:nth-child(2) {
                z-index: 2;
                margin: 0;
                padding: 48px 24px;
                background: #FFF;
                color: #111F49;
                border-radius: 32px;
                i {
                    color: #624FFF;
                    font-size: 88px;
                }
                p {
                    background: #F4F5F7;
                }
                .far {
                    opacity: 1;
                    background: #FFF;
                }
            }
            i {
                margin-top: 12px;
                font-size: 72px;
                line-height: 100px;
                color: rgba(255,255,255,.25);
            }
            h5 {
                margin-top: 12px;
                font-weight: 600;
                font-size: 2.8rem;
                font-family: "Ubuntu";
            }
            p {
                margin: 0;
                padding: 12px;
                background: rgba(255,255,255,.1);
                font-size: 1.6rem;
                line-height: 2.6rem;
                border-radius: 8px;
            }
            .far {
                opacity: 0;
                position: absolute;
                left: 50%;
                top: -36px;
                margin-left: -24px;
                width: 48px;
                height: 48px;
                background: #111F49;
                color: #111F49 !important;
                font-size: 24px !important;
                line-height: 48px !important;
                border-radius: 24px;
            }
        }
        &:hover {
            li {
                margin: 24px 0;
                padding: 24px;
                background: #111F49;
                color: #ACB1C0;
                border-radius: 24px;
                i {
                    color: rgba(255,255,255,.25);
                    font-size: 72px;
                }
                p {
                    background: rgba(255,255,255,.1);
                }
                .far {
                    opacity: 0;
                }
                &:hover {
                    z-index: 5;
                    margin: 0;
                    padding: 48px 24px;
                    background: #FFF;
                    color: #111F49;
                    border-radius: 32px;
                    h5 {
                        font-weight: 600;
                    }
                    i {
                        color: #624FFF;
                        font-size: 88px;
                    }
                    p {
                        background: #F4F5F7;
                    }
                    .far {
                        opacity: 1;
                        background: #FFF;
                    }
                }
            }
        }
    }
    &:after {
        border-color: transparent #2AABFF #2AABFF transparent;
    }
}

#partners {
    background-color: #624FFF;
    h2 {
        color: #111F49;
        strong {
            border-bottom-color: rgba(17,31,73,.4);
        }
    }
    .partners {
        margin: 0 auto;
        max-width: 980px;
        li {
            display: inline-block;
            margin: 0 24px 48px;
            opacity: .8;
            img {
                max-width: 140px;
                max-height: 40px;
                vertical-align: middle;
                cursor: pointer;
            }
        }
        &:hover {
            li {
                opacity: .4;
                &:hover {
                    opacity: 1;
                }
            }
        }
    }
    .news {
        margin: 60px auto;
        width: 60%;
        max-width: 680px;
        padding: 40px;
        background: #FFF;
        text-align: left;
        box-shadow: 0 4px 150px rgba(17,31,73,.6);
        h3 {
            margin: 0 12px 12px;
            color: #111F49;
            font-weight: 600;
            font-size: 2rem;
        }
        li {
            margin: 0;
            a {
                display: block;
                padding: 12px;
                border-top: 1px solid #F4F5F7;
                color: #111F49;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                span {
                    display: inline-block;
                    margin-right: 6px;
                    padding: 3px 8px;
                    width: 80px;
                    background: #F4F5F7;
                    font-size: 1.2rem;
                    text-align: center;
                    border-radius: 3px;
                }
                &:hover {
                    background: #F4F5F7;
                    span {
                        background: #624FFF;
                        color: #FFF;
                    }
                }
            }
        }
    }
    &:after {
        border-color: transparent #F4F5F7 #F4F5F7 transparent;
    }
    .page-next {
        border-color: rgba(180,180,190,.2);
        color: #ACB1C0;
    }
}

footer {
    position: relative;
    padding: 48px 0;
    width: 100vw;
    background: #F4F5F7;
    color: #3E4A6C;
    font-size: 14px;
    text-align: left;
    overflow: hidden;
    h5 {
        font-weight: 600;
        font-size: 2rem;
    }
    a {
        color: #111F49;
        &:active,
        &:visited {
            color: #111F49;
        }
        &:hover {
            color: #624FFF;
            text-decoration: underline;
        }
    }
    .copyright {
        margin-top: 32px;
        padding-top: 32px;
        border-top: 2px solid rgba(0,0,0,.05);
        h6 {
            font-weight: 600;
            font-family: "Ubuntu";
        }
        li {
            text-align: right;
        }
        a {
            margin: 0 12px;
        }
    }
}