/*
    style config
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;700&display=swap');
$txt-navy: #001C34;
$txt-gray: #636772;
$txt-dark: #2F3136;
$blue: #268DFF;
$darkblue: #0065D4;
$bg: #F6FBFF;
$border: #EBF0F6;

/*
    base
*/

body {
    margin: 0;
    padding: 0;
    color: $txt-dark;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 100%;
    cursor: default;
}

button,
input {
    font-family: 'Noto Sans KR', sans-serif;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $txt-navy;
    font-weight: 700;
    opacity: 1;
    /* Firefox */
}

a,
:hover {
    transition: all .2s ease-in;
}

.wow {
    visibility: hidden;
    /* for wow animation */
}


/*
    styling start
*/

.hero {
    position: relative;
    overflow: hidden;
    // &:before {
    //     content: url('svg/bg-chart.svg');
    //     position: absolute;
    //     right: 150px;
    //     bottom: 0;
    //     width: 720px;
    //     opacity: 0.4;
    // }
}

.brand {
    padding: 0 40px;
    height: 80px;
    border-bottom: 1px solid $border;
    font-size: 16px;
    line-height: 80px;
    box-shadow: 0 2px #F9F9FA;
    strong {
        color: $txt-navy;
        &::after {
            content: '_';
            padding: 0 8px;
            color: $blue;
        }
    }
    span {
        color: $txt-gray;
    }
}

section {
    box-sizing: border-box;
    padding: 240px 0;
    overflow: hidden;
    .inner {
        margin: 0 auto;
        max-width: 720px;
    }
    &.hero {
        border-bottom: 1px solid $border;
        background: linear-gradient(0deg, $bg, #FFF);
    }
    &.section {
        padding: 180px 0;
        .inner {
            max-width: 800px;
        }
        .section-header {
            margin-bottom: 64px;
        }
        h2 {
            position: relative;
            margin: 0;
            padding: 0;
            color: $txt-navy;
            font-size: 56px;
            i {
                position: absolute;
                left: -72px;
                top: 0;
                font-size: 64px;
            }
            span {
                display: block;
            }
        }
        p {
            color: $txt-gray;
            font-weight: 300;
        }
    }
    .hero-msg {
        z-index: 1;
        position: relative;
        display: flex;
        flex-direction: column;
        color: $txt-navy;
        font-size: 56px;
        span {
            display: block;
            font-weight: 700;
            line-height: 80px;
        }
        .hero-input {
            position: relative;
            box-sizing: border-box;
            margin: 40px 0;
            padding: 20px 30px;
            height: 90px;
            border: 4px solid $blue;
            background: #FFF;
            border-radius: 2px;
            .icon {
                position: absolute;
                right: 28px;
                top: 24px;
                color: darken($blue, 5%);
                font-size: 36px;
            }
            .hero-input-word {
                display: none;
            }
            .hero-input-typing {
                display: inline-block;
                color: $txt-navy;
                font-size: 32px;
                line-height: 40px;
                &::after {
                    content: '';
                    position: relative;
                    top: -2px;
                    display: inline-block;
                    margin-left: 4px;
                    height: 36px;
                    border-left: 3px solid $txt-gray;
                    vertical-align: middle;
                    animation: cursor 0.35s infinite;
                }
            }
            a {
                opacity: 0;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #FFF;
                color: $darkblue;
                font-size: 32px;
                line-height: 80px;
                text-align: center;
                text-decoration: none;
            }
            &:hover {
                border-color: $darkblue;
                a {
                    opacity: 1;
                }
            }
        }
    }
    .svg-cloud {
        z-index: 0;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100%;
        text-align: center;
        &:before {
            z-index: 1000;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 60vh;
            background-image: linear-gradient(-180deg, #FFFFFF 0%, rgba(255, 255, 255, 0.00) 100%);
        }
        &:after {
            z-index: 1000;
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 20vh;
            background-image: linear-gradient(0deg, #FFFFFF 0%, rgba(235, 235, 235, 0.00) 100%);
        }
        .svg-cloud-inner {
            opacity: .4;
            height: 110%;
            display: flex;
            justify-content: space-around;
            overflow: hidden;
        }
        svg {
            animation: svgs 9.512s linear infinite;
            align-self: flex-end;
            width: 8em;
            height: 8em;
            transform: translateY(100%);
            -webkit-filter: blur(5px);
            &:nth-child(2) {
                transform: scale(1.2);
                animation-delay: 1s;
                animation-duration: 20s;
            }
            &:nth-child(3) {
                transform: scale(0.8);
                animation-delay: 1.5s;
                animation-duration: 10s;
                -webkit-filter: blur(10px);
            }
            &:nth-child(4) {
                animation-delay: 0.5s;
                animation-duration: 15s;
            }
            &:nth-child(5) {
                transform: scale(1.2);
                animation-delay: 4s;
                animation-duration: 12s;
            }
            &:nth-child(6) {
                transform: scale(1);
                animation-delay: 2s;
                animation-duration: 10s;
                -webkit-filter: blur(10px);
            }
            &:nth-child(7) {
                transform: scale(0.6);
                animation-duration: 15s;
            }
        }
    }
    .hero-casestudy {
        position: relative;
        margin-top: 80px;
        h4 {
            position: absolute;
            left: -32px;
            top: 8px;
            margin: 0;
            color: $txt-gray;
            font-size: 14px;
            letter-spacing: 1px;
            transform: rotate(90deg);
            transform-origin: 0 0;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            li {
                position: relative;
                box-sizing: border-box;
                width: 75%;
                margin-top: 10px;
                padding: 0 30px;
                color: $txt-navy;
                border: 1px solid $border;
                background: rgba(255, 255, 255, .8);
                line-height: 80px;
                word-break: keep-all;
                border-radius: 4px;
                overflow: hidden;
                &:nth-child(2) {
                    width: 100%;
                }
                .icon {
                    opacity: .75;
                    padding-left: 2px;
                    color: $blue;
                }
                .deco {
                    position: absolute;
                    right: 12px;
                    top: 6px;
                    color: #FFF;
                    font-size: 100px;
                    opacity: .15;
                }
                span {
                    float: left;
                    font-size: 18px;
                    font-weight: 500;
                }
                a {
                    float: right;
                    color: $darkblue;
                    font-weight: 300;
                    font-size: 15px;
                    text-decoration: none;
                }
                &:hover {
                    z-index: 1;
                    background: $blue;
                    color: #FFF;
                    cursor: pointer;
                    transform: scale(1.05);
                    border-color: transparent;
                    box-shadow: inset 0 0 1px rgba(0, 0, 0, .1), 0 8px 40px rgba($blue, 60%);
                    text-shadow: 0 0 1px rgba(0, 0, 0, .1);
                    transition: all .2s ease-in;
                    a {
                        color: #FFF;
                        opacity: .6;
                        .icon {
                            color: #FFF;
                            animation: arrowmove .5s linear infinite;
                        }
                    }
                }
            }
        }
    }
    .icon {
        color: $txt-gray;
    }
    .svg-illust {
        position: relative;
        width: 320px;
        transform: translateX(-80px) translateY(-40px);
        animation: svgillust 2s linear infinite alternate;
    }
    .card {
        position: relative;
        margin-top: 40px;
        padding: 40px 56px;
        box-shadow: 0 8px 24px rgba($txt-navy, 8%);
        border-radius: 16px;
        transform: translateY(0);
        transition: all .2s ease-in-out;
        header {
            padding-bottom: 8px;
            width: 50%;
            font-size: 24px;
            font-weight: 700;
        }
        article {
            width: 50%;
            color: $txt-gray;
            font-size: 15px;
            font-weight: 300;
            line-height: 1.75;
            word-break: keep-all;
            a {
                display: block;
                margin-top: 12px;
                color: $blue;
                text-decoration: none;
                .icon {
                    color: $blue;
                    opacity: .6;
                }
                &:hover {
                    font-weight: 700;
                }
            }
        }
        footer {
            position: absolute;
            right: 0;
            top: 0;
            width: 40%;
            padding: 40px;
            em {
                display: block;
                color: $blue;
                font-size: 12px;
                font-weight: 500;
                font-style: normal;
                letter-spacing: 4px;
            }
            p {
                display: inline-block;
                margin: 12px 0 0 0;
                padding: 8px 12px;
                background: rgba($txt-navy, 4%);
                color: rgba($txt-navy, 60%);
                font-size: 13px;
                border-radius: 24px;
            }
        }
        &::before {
            content: '01';
            position: absolute;
            left: -48px;
            top: 0;
            color: rgba($txt-gray, 15%);
            font-size: 24px;
            font-weight: 700;
            transition: all .2s ease;
        }
        &:nth-of-type(3) {
            &::before {
                content: '02';
            }
        }
        &:nth-of-type(4) {
            &::before {
                content: '03';
            }
        }
        &:hover {
            transform: translateY(-8px) scale(1.02);
            box-sizing: 0 8px 24px rgba($txt-navy, 12%);
            &::before {
                left: -56px;
                color: $blue;
                font-size: 32px;
            }
        }
    }
    &.contact {
        padding: 80px 0;
        background: $border;
        .inner {
            max-width: 560px;
            text-align: center;
        }
        img {
            width: 300px;
        }
        h2 {
            margin: 0;
            color: $txt-navy;
            font-weight: 500;
            font-size: 15px;
            text-align: center;
            word-break: keep-all;
        }
        button {
            margin-top: 20px;
            border: 0;
            width: 240px;
            height: 64px;
            background: $blue;
            color: #FFF;
            font-size: 18px;
            cursor: pointer;
            border-radius: 2px;
            box-shadow: 0 4px 24px rgba($blue, 40%);
            transition: all .2s ease;
            &:hover {
                background: $darkblue;
                transform: translateY(2px);
                box-shadow: 0 2px 16px rgba($darkblue, 40%);
            }
        }
    }
}

.page-footer {
    background: $border;
    .inner {
        margin: 0 auto;
        padding: 24px 0 64px;
        max-width: 720px;
        border-top: 1px dotted darken($border, 10%);
    }
    address {
        color: rgba($txt-navy, 80%);
        font-style: normal;
        font-weight: 300;
        font-size: 13px;
        span {
            display: inline-block;
            margin: 2px;
        }
    }
    a {
        border-bottom: 1px solid transparent;
        color: rgba($txt-navy, 80%);
        font-weight: 500;
        text-decoration: none;
        &:hover {
            border-bottom-color: darken($border, 10%);
            color: $blue;
        }
    }
    nav {
        margin-top: 24px;
        font-size: 13px;
        em {
            color: $darkblue;
            font-style: normal;
        }
    }
}


/*
    for animation
*/

@keyframes cursor {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes svgs {
    from {
        transform: translateY(100%) rotate(-50deg);
    }
    to {
        transform: translateY(calc(-100vh + -100%)) rotate(20deg);
    }
}

@keyframes svgillust {
    50% {
        transform: translateY(-24px) translate(-80px);
    }
}

@keyframes arrowmove {
    from {
        padding: 0 6px 0 0;
    }
    to {
        padding: 0 0 0 6px;
    }
}